<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scdx.group17.dao.NewsMapper">
    <resultMap id="NewsResultMap" type="scdx.group17.entity.News">
        <id column="nID" property="nID" jdbcType="INTEGER"/>
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="rev_id" property="rev_id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="CLOB"/>
        <result column="isreleased" property="isreleased" jdbcType="TINYINT"/>
        <result column="etime" property="etime" jdbcType="TIMESTAMP"/>
        <result column="rtime" property="rtime" jdbcType="TIMESTAMP"/>
    </resultMap>
    <!--List News-->
    <select id="getAllNews" resultMap="NewsResultMap">
        SELECT * FROM news WHERE rtime IS NOT NULL ORDER BY rtime DESC
    </select>
    <!--List Some News-->
    <select id="getsome" resultMap="NewsResultMap">
        SELECT nID,id,title,rtime FROM news WHERE rtime IS NOT NULL AND (title LIKE '%${query}%' OR content LIKE '%${query}%')
    </select>

    <select id="getOneNews" resultMap="NewsResultMap">
        SELECT nID,id,title,content,rtime FROM news WHERE nID = #{nID}
    </select>

</mapper>