<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="scdx.group17.dao.PostMapper">
    <resultMap id="PostResultMap" type="scdx.group17.entity.Post">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="pID" property="pID" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="content" property="content" jdbcType="CLOB"/>
        <result column="updatetime" property="updatetime" jdbcType="TIMESTAMP"/>

        <!--
                <result column="deadline" property="deadline" jdbcType="CLOB"/>
        -->
        <result column="istop" property="istop" jdbcType="TINYINT"/>
    </resultMap>

    <!--Get By Id-->
    <select id="getAllPostById" resultMap="PostResultMap">
        SELECT * FROM post WHERE id = #{id}
    </select>
    <!--Get PostCount By Id-->
    <select id="getPostCountById" resultType="java.lang.Integer">
        SELECT count(*) FROM post WHERE id = #{id}
    </select>

    <insert id="addNewPost" parameterType="scdx.group17.entity.Post">
        INSERT INTO post(id,title,content,istop,updatetime) VALUES (#{id},#{title},#{content},#{istop},#{updatetime})
    </insert>

    <select id="getSome" resultMap="PostResultMap">
        SELECT * FROM post WHERE title LIKE '%${query}%' OR content LIKE '%${query}%' ORDER BY istop
    </select>

    <select id="getPostByPid" resultMap="PostResultMap">
        SELECT * FROM post WHERE pID=#{pID}
    </select>



</mapper>